/** Declare some variables **/
$primary: #007bff;

// Password strength meter color for the different levels
$strength-colors: (darkred, orangered, orange, yellowgreen, green);

// Gap width between strength meter bars
$strength-gap: 6px;



.main-container {
  width: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form-container {
  bottom: 100px;
}

legend.form-label {
  font-size: 1.5rem;
  color: desaturate(darken($primary, 10%), 60%);
}

.control-label {
  font-size: 0.8rem;
  font-weight: bold;
  color: desaturate(darken($primary, 10%), 80%);
}

.form-control {
  font-size: 1rem;
}

.form-hint {
  font-size: 0.6rem;
  line-height: 1.4;
  margin: -5px auto 5px;
  color: #999;

  &.error {
    color: #C00;
    font-size: 0.8rem;
  }
}

button.btn {
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 600;
}

.password-count {
  bottom: 16px;
  right: 10px;
  font-size: 1rem;
}

.strength-meter {
  position: relative;
  height: 3px;
  background: #DDD;
  margin: 7px 0;
  border-radius: 2px;

  // Dynamically create the gap effect
  &:before,
  &:after {
    content: '';
    height: inherit;
    background: transparent;
    display: block;
    border-color: #FFF;
    border-style: solid;
    border-width: 0 $strength-gap 0;
    position: absolute;
    width: calc(20% + #{$strength-gap});
    z-index: 10;
  }

  // Dynamically create the gap effect
  &:before {
    left: calc(20% - #{($strength-gap / 2)});
  }

  // Dynamically create the gap effect
  &:after {
    right: calc(20% - #{($strength-gap / 2)});
  }
}

.strength-meter-fill {
  background: transparent;
  height: inherit;
  position: absolute;
  width: 0;
  border-radius: inherit;
  transition: width 0.5s ease-in-out, background 0.25s;

  // Dynamically generate strength meter color styles
  @for $i from 1 through 5 {
    &[data-strength='#{$i - 1}'] {
      width: (20% * $i);
      background: nth($strength-colors, $i);
    }
  }
}
.home {


  margin-top: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  margin-right: 1px;
}

.dashboard {

  margin-top: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  margin-right: 1px;
}
.navbar {
  margin-top: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  margin-right: 1px;

}






.form-fild {
	position: relative;
	margin: 2px 0px;
}
.form__fild label {
	position: absolute;
	top: 5px;
	left: 10px;
	padding:5px;
}

.form__fild label {
	top: -25px;
	left: 10px;
	/*background: #ffffff;*/
}
.form-fild input[type="text"] {
	padding-left: 80px;
}
.form-fild textarea {
	padding-left: 80px;
}

.form-fild input[type="text"] {
	padding-left: 10px;
}
textarea,
input[type="text"] {
	padding: 14px;
	width: 100%;
}
textarea,
input,
.form-fild label {
	-webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}


.App {
  text-align: center;
}
.signIn {


  margin-top: 15px;
  text-align: left;
  margin-left: 53px;
  color: blue;
  font-size: 30px;
}

.google{
  text-align: center;
  margin-top: -50px;
  margin-left: 20px;
  font-size: larger;
  font-style: initial;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.email1 {
  margin-left: -280px;

}
.password {
  margin-left: -230px;

}
.App {
  height: 10vh;
  width: 10vh;

}
/*   color variables */
/* $clr-primary: #9dedff;
$clr-primary-hover: #8ad6ff;
$clr-primary-dark: #7bdff6;
$clr-primary-light: #c7f5ff;
$clr-gray100: #f0f7f8;
$clr-gray200: #cfd8dc;
$clr-gray300: #a7b7be;
$clr-gray400: #6b7e86;
$clr-gray500: #425a65; */

/*   border radius */
/* $radius: 1rem; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  background: whitesmoke;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #425a65;
  
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  /* line-height: var(--bs-body-line-height); */
  /* color: var(--bs-body-color); */
  text-align: var(--bs-body-text-align);
  /* background-color: var(--bs-body-bg); */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.form {
  border-radius: 1rem;
  background-color: white;

  .form__title {
      margin-top: -20px;
      margin-bottom: 0.5rem;
      font-size: larger;
  }

  .form__description {
    margin-bottom: 2rem;
  }

  .form__group {
    display: inline-block;

    width: 400px;
    height: 70px;
    background: white;
    margin-left: 10px;
    margin-top: 35px;
    border-radius: 10px;
    box-sizing: border-box;
  
    position: relative;
    height: 3rem;
    margin-bottom: 1.5rem;
  }

  /* .form__input {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #cfd8dc;
    border-radius: 0.5rem;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    outline: none;
    padding: 1.25rem;
    background: none; */

    .form__input {
            padding: 0.7rem;
            padding-right: 1.25rem;
            padding-left: 100px;
            margin-top: 1px;
      padding-bottom: -0.75rem;
      width: 100%;
      height: 100%;
      border: 2px solid #cfd8dc;
      border-radius: 0.5rem;
      font-family: inherit;
      font-weight: inherit;
      color: inherit;
      outline: none;
      background: none;


    &:hover {
      border-color: #9dedff;
      ;
    }

    &:focus {
      border-color: #7bdff6;
    }
  }

  .form__label {
    position: absolute;
    left: 1rem;
    top: 0.9rem;
    padding: 0 0.5rem;
    background-color: white;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  }

  .form__button {
    margin-left: auto;
    padding: 0px;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 200ms ease-in;

    &:hover {
      background-color: #7bdff6;
    }
  }
}

/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 

2. Keep label state when content is in input field 
*/

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: 0.8rem;
}

.photo {
align-self: self-start;
  height: 70px;
  width: 70px;
  margin-left: -100px;
margin-top: 3px;
}
.rectangle {
  display: inline-block;
  width: 400px;
  height: 80px;
  background: white;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid darkgray; 
  border-radius: 10px;
  box-sizing: border-box;
     cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

.signUp {

margin: 40px 40px 10px 40px;
}
.signIn1 {
  margin: 25px;
  color: white;
  text-align: center;

}
#rememberMe label {
  font:
    1rem 'Fira Sans',
    sans-serif;
    padding: 0.4em;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 10px;
    width: 715px;
    height: 100px;
    /* background: white; */
    margin-left: 655px;
    /* border: 1px solid gray; */
    /* border-radius: 10px; */
    /* box-sizing: border-box; */

}
.rememberMe {
  width: 400px;
    margin-left: 223px;
    margin-right: 324px;
    margin-bottom: 33px;
}
.remember {     
  
  margin-top: -26px;
 margin-left: -180px; 
  margin-right: -470px;
  /* margin-bottom: 22px; */

 
}
.registeredEmail {
  text-align: left;
  margin-left: 53px;
  font-size: 1 rem;
   margin-top: 20px;
   margin-right: 20px;
    }

.forgotPassword {   
  margin-top: -29px;
  margin-left: -55px;
}

.rectangle3 {
  display: inline-block;

  width: 400px;
  height: 80px;
  background: white;
  margin-left: 10px;
  margin-top: 35px;
  border: 1px solid darkgray;
  border-radius: 10px;
  box-sizing: border-box;
}

.rectangle4 {
  display: inline-block;
  width: 400px;
  height: 80px;
  background: blue;
 
  border: 1px solid darkgray;
  border-radius: 10px;
  box-sizing: border-box;
}
.line1 {
  width: 89px;
  margin-top: 40px;
  margin-left: 55px;
  margin-right: 10px;
  margin-bottom: 7px;
}
#box1 {
 
    padding: 0px;
    box-shadow: 1px 1px whitesmoke;
  
  
  margin-left: 15px;
  margin-right: 15px;
  // margin-left: 0px;
  // margin-right: 42px;
  margin-bottom: 10px;
   display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: inline-block;
  width: 500px;
  height: 800px;
  background: white;
  /* margin-left: 750px; */
  border: 1px solid whitesmoke;
  border-radius: 10px;
  box-sizing: border-box;
}
.acceptTC{
font-size: 0.75rem;
  margin-top: 10px;
  
  margin-bottom: 10px;

  
  margin-right: 20px;
  
  margin-left: 30px;
}
.line2 {
  width: 89px;
  margin-top: -19px;
  margin-right: 0px;
  margin-left: 352px;
  margin-bottom: 10px;
}
.email1 {
  color: gray;
  font-style: bold;
  font-size: 20px;
  margin-top: -25px;
margin-left: -6px;
}
.terolo {
  margin: 10px;
  color: blue;
}
#rememberMe {

  margin-left: -340px;
  margin-top: 0px;
  margin-bottom: 9px;
  margin-right: -50px;
}
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: inline-block;
    width: 500px;
    height: 750px;
    background: white;
    margin-left: 750px;
    /* border: 1px solid gray; */
    border-radius: 10px;
    box-sizing: border-box;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hwb(220 99% 0%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: rgb(16, 12, 245);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
